PORT=8000
MONITOR_PIE_GLOBAL_FURNITURES_URL=
MONITOR_CPA_ACADEMY_URL=
MONITOR_SCHOLSEY_SECURITY_APP_URL=
GITHUB_USERNAME=
CAREER_START_YEAR=2016
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/digital_os
